/* GLOBAL RESET */

* {
    box-sizing: border-box;
}

/* GLOBAL BODY SETTINGS */
body {
    font-family: futura, sans-serif;
    font-weight: 400;
    font-size: 87.5%;
    color: rgba(255, 255, 255, 09);
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.9);
    min-height: 100vh;
}

/* TYPOGRAPHY */

h1,
h2,
h3 {
    font-weight: normal;
}

p {
    font-size: 1rem;
}

a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

a:hover {
    color: rgba(57, 134, 242, 0.9);
}

/* TYPE HIERARCHY */

.headline {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
}

.subhead {
    font-size: 2rem;
    font-weight: 500;
    color: rgba(129, 231, 244, 0.9);
    line-height: 1;
}

/* MEDIA */

img {
    max-width: 100%;
    height: auto;
}

body {
    min-height: 100vh;
}


/* STRUCTURE */

.site-footer {
    text-align: center;
}

.site-header {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    width: 100%;
    z-index: 9999;
    transition: .2s ease-out all;
}

@media (min-width: 1200px) {
    .site-header {
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: space-between;
        position: absolute;
        align-items: center;
        width: 100%;
    }
}

.site-header h1 {
    font-size: 1.5em;
    font-weight: 400;
}

.site-header h1 a {
    display: inline-block;
    transition: .2s ease-out all;
}


/* SITE NAV */

.site-nav ul {
    padding: 0;
}

.site-id img {
    padding: 0;
    margin-left: 2em;
    height: 75%;
    width: 20%;
}

.site-nav ul li {
    display: inline-block;
}

.site-nav ul li a {
    display: block;
    padding: 1em 0 1em 0;
    margin-right: 2em;
    transition: .2s ease-out all;
}

/* MAIN CONTENT */

section {
    padding: 1em;
    display: grid;
    align-items: center;
    justify-content: center;
}

.container {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
}

/* LOTTIE ONLY VIEWABLE ON LIVE SERVER */
#anim {
    width: 100%;
    height: auto;
}

/* GRID SYSTEM */

.row {
    width: 100%;
    margin: 0 auto;
    padding: 0 3em;
}

@media (min-width: 768px) {
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .column {
        flex-grow: 0;
        margin-left: 1%;
        margin-right: 1%;
    }

    .one-whole {
        width: 100%;
    }

    .one-half {
        width: 47%;
    }

    .one-third {
        width: 31.3333%;
    }

    .push-one-third {
        margin-left: 34.3333%;
    }

    .two-thirds {
        width: 64.6666%;
    }

    .one-fourth {
        width: 23%;
    }

    .push-one-fourth {
        margin-left: 26%;
    }

    .row.centered {
        justify-content: center;
    }

    .column.centered {
        margin-left: auto;
        margin-right: auto;
    }
}

/* INTRO SECTION */

.intro-statement {
    background-color: rgba(0, 0, 0, 1);
    padding-bottom: 5em;
}

.intro-statement h1 {
    margin: 0;
    padding-top: 0;
    font-size: 25vw;
    text-transform: uppercase;
    text-align: center;
}

.intro-statement p {
    margin: 0;
    line-height: 1.2;
    margin: 0;
    padding-top: 0;
    font-size: 5vw;
    text-align: center;
}

/* SKILL SET SECTION */

.skill-container {
    display: flex;
    text-align: center;
    align-items: baseline;
    /* justify-content: center; */
}

.skill-image img {
    text-align: center;
    width: 40%;
}

.skill-set {
    padding: 2em 1em;
}

.skill-set h3 {
    font-size: 2em;
    color: rgba(129, 231, 244, 0.9);
}

/* COLORBOOK SECTION */

.colorbook {
    position: relative;
}

.colorbook2 {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.colorbook2:hover {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 500ms ease-in-out;
}

.text-experience h2 {
    font-size: 1.5rem;
    line-height: 1.2;
}

/* ME SECTION */

.me-image {
    position: relative;
    align-items: center;
}

.me2 {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.me2:hover {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 250ms ease-in-out;
}

.text-me {
    padding: 3em;
}

.text-me h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin: 0;
}

.text-me h2 {
    font-size: 1.5rem;
    margin-top: 0.5em;
}