/* GLOBAL RESET */

* {
    box-sizing: border-box;
}

/* GLOBAL BODY SETTINGS */
body {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 400;
    font-size: 87.5%;
    color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.9);
    min-height: 100vh;
}

/* TYPOGRAPHY */

h1, h2, h3 {
    font-weight: normal;
}

p {
    max-width: 35em;
}

a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

a:hover {
    color: rgba(138, 138, 138, 0.9);
}

/* TYPE HIERARCHY */

.headline {
    font-size: 4em;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 .4em 0;
}

.subhead {
    font-size: 2em;
    font-weight: 500;
    color: rgba(129, 231, 244, 0.9);
    line-height: 1;
    margin: 0 0 .6em 0;
}

/* MEDIA */

img {
    max-width: 100%;
    height: auto;
}

body {
    min-height: 100vh;
}

/* STRUCTURE */

.site-header, .site-footer {
    text-align: center;
}

.site-header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.site-header h1 {
    font-size: 1.5em;
    font-weight: 400;
}

.site-header h1 a {
    display: inline-block;
    transition: .2s ease-out all;
}


/* SITE NAV */

.site-id, .site-nav ul {
    padding: 0;
    margin: 1em 1.5em;
}

.site-nav ul li {
    display: inline-block;
}

.site-nav ul li a {
    display: block;
    padding: 1em 0.5em;
    margin: 0 .2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    transition: .2s ease-out all;
}

.site-nav ul li a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.site-nav ul li a {
    display: block;
    padding: 1em 0.5em;
    margin: 0 .2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    transition: .2s ease-out all;
}

/* MAIN CONTENT */

section {
    padding: 2em;
    min-height: 90vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

/* FEATURED PROJECTS ON HOME PAGE */

@media (min-width: 768px) {
    .project-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }   

    .project-content .text-wrap {
        width: 49%;
        padding: 3em;
    }

    .project-content.swapped {
        flex-direction: row-reverse;
    }

    .project-content .image-wrap {
        width: 49%;
    }
}