/* GLOBAL RESET */
* {
    box-sizing: border-box;
}

/* GLOBAL BODY SETTINGS */
body {
    font-family: futura, sans-serif;
    font-weight: 400;
    font-size: 87.5%;
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    background-color: rgba(3, 3, 3, 0.9);
}

/* CONTAINER */

.container {
    max-width: 1200px;
    margin: auto;
}

/* TYPOGRAPHY */

h1,
h2,
h3 {
    font-weight: normal;
}

p {
    font-size: 1rem;
}

a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

a:hover {
    color: rgba(57, 134, 242, 0.9);
    text-decoration: underline;
}

/* TYPE HIERARCHY */

.headline {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
}

.subhead {
    font-size: 2rem;
    font-weight: 500;
    color: rgba(129, 231, 244, 0.9);
    line-height: 1;
}

/* MEDIA */

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    min-height: 100vh;
}

/* NAV CONTAINER */

.nav-container {
    max-width: auto;
    margin: 0;
    padding: 0.8em;
}

/* LOGO AREA */

.site-id h1 {
    font-size: 1em;
    margin: 0;
    padding: 1em;
    text-align: center;
}

/* SITE NAV */

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.site-nav a {
    display: inline-block;
    padding: 1em;
}

.site-nav .menu-button {
    display: none;
}

/* GRID SYSTEM */

.row {
    width: 100%;
    margin: 0 auto;
    padding: 0 3em;
}

@media (min-width: 768px) {
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .column {
        flex-grow: 0;
        margin-left: 1%;
        margin-right: 1%;
    }

    .one-whole {
        width: 100%;
    }

    .one-half {
        width: 49%;
    }

    .one-third {
        width: 31.3333%;
    }

    .push-one-third {
        margin-left: 34.3333%;
    }

    .two-thirds {
        width: 64.6666%;
    }

    .one-fourth {
        width: 23%;
    }

    .push-one-fourth {
        margin-left: 26%;
    }

    .row.centered {
        justify-content: center;
    }

    .column.centered {
        margin-left: auto;
        margin-right: auto;
    }
}

/* MAIN CONTENT */

section {
    padding: 5em;
}

/* LOGO NAV STYLING */

@media (min-width: 768px) {
    .site-header .nav-container {
        display: flex;
        justify-content: space-between;
    }
}

/* LOTTIE ONLY VIEWABLE ON LIVE SERVER */

#anim {
    width: 100%;
    height: auto;
}

/* INTRO SECTION */

.intro-statement {
    background-color: rgba(8, 8, 8, 1);
    padding-bottom: 5em;
}

.intro-statement h1 {
    margin: 0;
    padding-top: 0;
    font-size: 25vw;
    text-transform: uppercase;
    text-align: center;
}

.intro-statement h2 {
    margin: 0;
    padding-top: 0;
    font-size: 22vw;
    text-transform: uppercase;
    text-align: center;
}

.intro-statement p {
    margin: 0;
    line-height: 1.2;
    margin: 0;
    padding-top: 0;
    font-size: 5vw;
    text-align: center;
}

/* SKILL SET SECTION */

.skill-container {
    display: flex;
    text-align: center;
    align-items: baseline;
}

.skill-image img {
    text-align: center;
    width: 40%;
}

.skill-set {
    padding: 2em 1em;
}

.skill-set h3 {
    font-size: 2em;
    color: rgba(129, 231, 244, 0.9);
}

/* COLORBOOK SECTION */

.colorbook {
    position: relative;
}

.colorbook2 {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.colorbook2:hover {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 500ms ease-in-out;
}

.text-experience h2 {
    font-size: 1.5rem;
    line-height: 1.2;
}

/* ME SECTION */

.me-image {
    position: relative;
    align-items: center;
}

.me2 {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.me2:hover {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 250ms ease-in-out;
}

.text-me {
    padding: 3em;
}

.text-me h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin: 0;
}

.text-me h2 {
    font-size: 1.5rem;
    margin-top: 0.5em;
}

/* WORK SECTION */

.work-container {
    display: grid;
    text-align: center;
    justify-content: center;
    padding: 1.5em;
}

.text-work {
    padding: 0;
}

.text-work h1 {
    font-size: 6rem;
}

@media (max-width: 1060px) {
    .text-work h1 {
        font-size: 4rem;
    }
}

@media (max-width: 768px) {
    .text-work h1 {
        font-size: 2.5rem;
    }
}

.text-work a {
    text-decoration: none;
}

.work-image {
    position: relative;
    align-items: center;

}

.work-image2 {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.work-image2:hover {
    position: absolute;
    left: 0;
    top: 0;
    opacity: .75;
    transition: 250ms ease-in-out;
}

/* PROCESS SECTION */

.process-container1 {
    background-color: rgba(19, 19, 19, 0.9);
}

.process-container2 {
    background-color: rgba(8, 8, 8, 1);
}

.text-process {
    max-width: 1000px;
}

.text-process h1 {
    font-size: 4rem;
}

.text-process h2 {
    font-size: 2rem;
    color: rgba(170, 19, 69, 1);
}

.text-process h3 {
    font-size: 1.2rem;
}

.text-process p {
    font-size: 1rem;
    padding: 1.5em 0;
    line-height: 1.5;
}

/* PROJECT FORMAT */

.hero {
    padding: 0;
}

.proj-main {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(3, 3, 3, 0.9);
}

.proj-wrapper {
    display: flex;
    gap: 25px;
}

@media (max-width: 768px) {
    .proj-wrapper {
        display: grid;
        gap: 10px;
    }
}

.proj-year {
    padding: 0 5% 0 0;
}

.proj-deliverables {
    padding: 0 15% 0 0;
}

.proj-deliverables ul {
    padding: 0;
}

.proj-deliverables li {
    list-style: none;
}

.text-proj {
    padding: 1em;
}

.text-swap {
    text-align: right;
}

.proj {
    position: relative;
    padding: 4em 0;
}

.proj2 {
    position: absolute;
    padding: 4em 0;
    left: 0;
    top: 0;
    opacity: 0;
}

.proj2:hover {
    position: absolute;
    padding: 4em 0;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 500ms ease-in-out;
}

.up-next {
    text-align: center;
}

.proj-button {
    font-size: inherit;
    background-color: rgba(9, 194, 160, 1);
    border: 1px solid rgba(9, 194, 160, 1);
    color: rgba(255, 255, 255, 0.8);
    padding: 1em 2em;
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
    text-align: center;
    border-radius: .5em;
}

.proj-button:hover {
    background-color: rgba(0, 125, 102, 1);
    border-color: rgba(0, 125, 102, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    border-radius: 1em;
}

/* TOGGLE NAV */

@media (max-width: 767px) {

    .site-header {
        padding: .5em 0 0 0;
    }

    .toggle-nav .site-id {
        position: absolute;
    }

    .toggle-nav .site-nav {
        text-align: right;
    }

    .toggle-nav .site-nav .menu-button {
        display: block;
        display: inline-block;
        background-color: transparent;
        border: none;
        padding: 0.3em 0.8em;
        margin-bottom: 0.8em;
        border: 1px solid black;
    }

    .toggle-nav .site-nav .menu-button::selection {
        color: rgba(255, 255, 255, 0.9);
    }

    .toggle-nav .site-nav ul {
        display: block;
        text-align: center;
    }

    .toggle-nav .site-nav a:hover {
        color: rgba(57, 134, 242, 0.9);
        text-decoration: underline;
    }

    .toggle-nav[data-navstate="closed"] ul {
        height: 0;
        overflow: hidden;
    }

    .toggle-nav[data-navstate="open"] ul {
        height: auto;
        overflow: visible;
    }

    /* NAVICON */

    .toggle-nav .site-nav .menu-button.navicon {
        border: none;
        color: rgba(255, 255, 255, 0);
        padding: 0;
    }

    .toggle-nav .site-nav .menu-button.navicon::after {
        content: "\2630";
        display: inline-block;
        padding: 0.4em;
        margin: 0;
        color: rgba(255, 255, 255, 0.9);
        font-size: 1.5em;
    }

    .toggle-nav[data-navstate="open"] .site-nav .menu-button.navicon::after {
        content: "\2715";
    }
}

/* ANIMATED TOGGLE NAV MENU */

@media (max-width: 767px) {
    .toggle-nav.animated ul {
        display: block;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        padding: 0;
        border-width: 0;
        transition: all 0.3s ease;
    }

    .toggle-nav.animated[data-navstate="open"] ul {
        max-height: 138em;
        opacity: 1;
        padding: 0.5em 0;
        border-width: 0px;
        transition: all 0.6s ease;
    }

    .toggle-nav.animated li {
        padding: 0;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .toggle-nav.animated[data-navstate="open"] li {
        padding: 0.25em;
        opacity: 1;
        transition: all 0.6s ease 0.2s;
    }

    .toggle-nav.animated li a {
        padding: 0;
        transition: all 0.3s ease;
    }

    .toggle-nav.animated[data-navstate="open"] li a {
        padding: 0.75em;
    }
}